{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>API Keys</h2>
    <table border="1">
        <thead><th>keyID</th><th>vCode</th><th>Last Checked</th><th>Functions</th></thead>
        {{ apis }}
    </table>
  <h2>Add an API key</h2>
  <form action="{{ url_for('display_apis') }}" method=post>
      {{ form.hidden_tag() }}

      {{ form.keyID.label }}
      {{ form.keyID }}
      {{ form.vCode.label }}
      {{ form.vCode }}
      {{ form.submit }}

  </form>

  </div>
{% endblock %}
